# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
android/.gradle
ios/.symlinks
ios/Pods/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
